'comment': 'based on asp textmate bundle by Rich Barton'
'fileTypes': [
  'brs'
]
'name': 'BrightScript'
'patterns': [
  {
    'captures':
      '1':
        'name': 'storage.type.function.brs'
      '2':
        'name': 'entity.name.function.brs'
      '3':
        'name': 'punctuation.definition.parameters.brs'
      '4':
        'name': 'variable.parameter.function.brs'
      '5':
        'name': 'punctuation.definition.parameters.brs'
    'match': '^\\s*((?i:function|sub))\\s*([a-zA-Z_]\\w*)\\s*(\\()([^)]*)(\\)).*\\n?'
    'name': 'meta.function.brs'
  }
  {
    'begin': '(^[ \\t]+)?(?=\')'
    'beginCaptures':
      '1':
        'name': 'punctuation.whitespace.comment.leading.brs'
    'end': '(?!\\G)'
    'patterns': [
      {
        'begin': '\''
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.comment.brs'
        'end': '\\n'
        'name': 'comment.line.apostrophe.brs'
      }
    ]
  }
  {
    'begin': '(^[ \\t]+)?(?=REM )'
    'beginCaptures':
      '1':
        'name': 'punctuation.whitespace.comment.leading.brs'
    'end': '(?!\\G)'
    'patterns': [
      {
        'begin': 'REM '
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.comment.brs'
        'end': '\\n'
        'name': 'comment.line.rem.brs'
      }
    ]
  }
  {
    'match': '(?i:\\b(If|Then|Else|ElseIf|End If|endif|While|For|To|Each|In|Step|Case|Return|Continue|Do|Until|Loop|Next|With|Exit Do|Exit For|Exit Function|Exit Property|Exit Sub|End For)\\b)'
    'name': 'keyword.control.brs'
  }
  {
    'match': '=|>=|<|>|<|<>|\\+|-|\\*|\\^|&|\\b(?i:(Mod|And|Not|Or|Xor|Is))\\b'
    'name': 'keyword.operator.brs'
  }
  {
    'match': '(?i:\\b(Call|Class|Const|Dim|Redim|Function|Sub|End sub|End Function|Let|As)\\b)'
    'name': 'storage.type.brs'
  }
  {
    'match': '(?i:\\b(False|True|Invalid)\\b)'
    'name': 'constant.language.brs'
  }
  {
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.brs'
    'end': '"(?!")'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.brs'
    'name': 'string.quoted.double.brs'
    'patterns': [
      {
        'match': '""'
        'name': 'constant.character.escape.apostrophe.brs'
      }
    ]
  }
  {
    'captures':
      '1':
        'name': 'punctuation.definition.variable.brs'
    'match': '(\\$)[a-zA-Z_x7f-xff][a-zA-Z0-9_x7f-xff]*?\\b'
    'name': 'variable.other.brs'
  }
  {
    'match': '(?i:\\b(CreateObject|type|getInterface|substitute|readASCIIFile|GetGlobalAA|Box|Run|Eval|GetLastRunCompileError|GetLastRunRuntimeError|Sleep|Wait|FindMemberFunction|Uptime|RebootSystem|ListDir|ReadAsciiFile|WriteAsciiFile|CopyFile|MoveFile|MatchFile|DeleteFile|DeleteDirectory|CreateDirectory|FormatDrive|StrTol|RunGarbageCollector|ParseJson|FormatJson)\\b)'
    'name': 'support.class.collection.brs'
  }
  {
    'match': '(?i:\\b(String|Integer|Object|Variant|Float|Double|Dynamic|roArray|roAssociativeArray|roBoolean|roBrSub|roByteArray|roDatagramEvent|roFloat|roGlobal|roInt|roInvalid|roList|roMessagePort)\\b)'
    'name': 'support.function.brs'
  }
  {
    'match': '(?i:\\b(Ucase|Lcase|Asc|Chr|Instr|Left|Len|Mid|Right|Str|Strl|String|Stringl|Val|Substitute)\\b)'
    'name': 'support.function.string.brs'
  }
  {
    'match': '(?i:\\b(Abs|Atn|Cdbl|Cint|Cos|Csng|Exp|Fix|Int|Log|Rnd|Sgn|Sin|Sqr|Tan)\\b)'
    'name': 'support.function.math.brs'
  }
  {
    'match': '\\b((0(x|X)[0-9a-fA-F]*)|(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))((e|E)(\\+|-)?[0-9]+)?)(L|l|UL|ul|u|U|F|f)?\\b'
    'name': 'constant.numeric.brs'
  }
  {
    'match': '(?-i)\\b[A-Z(_)]+\\b'
    'name': 'constant.caps.brs'
  }
  {
    'include': 'text.html.basic'
  }
]
'scopeName': 'source.brs'
