'.source.brs':
  'editor':
    'foldEndPattern': '(?i)^\\s*End (Function","Sub)\\s*$'
    'completions': [
        "If","Then","Else","ElseIf","End If","endif","While","For","To","Each","In","Step","Case","Return",
        "Continue","Do","Until","Loop","Next","With","Exit Do","Exit For","Exit Function","Exit Property",
        "Exit Sub","End For","False","True","Invalid","CreateObject","type","getInterface","substitute",
        "readASCIIFile","GetGlobalAA","Box","Run","Eval","GetLastRunCompileError","GetLastRunRuntimeError",
        "Sleep","Wait","FindMemberFunction","Uptime","RebootSystem","ListDir","ReadAsciiFile","WriteAsciiFile",
        "CopyFile","MoveFile","MatchFile","DeleteFile","DeleteDirectory","CreateDirectory","FormatDrive",
        "StrTol","RunGarbageCollector","ParseJson","FormatJson","String","Integer","Object","Variant","Float",
        "Double","Dynamic","roArray","roAssociativeArray","roBoolean","roBrSub","roByteArray","roDatagramEvent",
        "roFloat","roGlobal","roInt","roInvalid","roList","roMessagePort","Ucase","Lcase","Asc","Chr","Instr",
        "Left","Len","Mid","Right","Str","Strl","String","Stringl","Val","Substitute","Abs","Atn","Cdbl","Cint",
        "Cos","Csng","Exp","Fix","Int","Log","Rnd","Sgn","Sin","Sqr","Tan"
    ]
    'commentStart': "' "
